.heading{
    background-color:beige;
    font-family: 'Roboto Slab', serif;
    width: 80%;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

body{
    background-size: cover;
    background-position: center;
}

.link {
    font-size: 20px;
    background: white;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
    list-style: none;

}

.link:hover{
    font-size: 25px;
    background-color: turquoise;
}